<div> <img src="<%= oneBook.image_url %>" alt=""><br>
    <h2>
        <%= oneBook.title %>
    </h2> <br>
    <h3>
        <%=oneBook.author%>
    </h3> <br>
    <h3>
        <%- oneBook.description%>
    </h3> <br>
    <h3>
        <%= oneBook.isbn %>
    </h3> <br>
    <h3>
        <%= oneBook.bookShelf %>
    </h3>
</div>